

<!--<div class="form_wrapper">

	<:%#= form_for(resource, as: resource_name, url: registration_path(resource_name), :remote => true) do |f| %>
		<%#= devise_error_messages! %>

		<div class="field">
			<%#= f.label :email, class: "form_label"  %>
			<span class = "error_item"><%#= errors_for @admin, :email, "Email" %></span>
			<%#= f.email_field :email, autofocus: true %>
		</div>

		<div class="field">
			<%#= f.label :password, "Password (#{password_length_message})", class: "form_label" %>
			<span class = "error_item"><%#= errors_for @admin, :password, "Password" %></span>
			<%#= f.password_field :password, autocomplete: "off" %>
		</div>

		<div class="field">
			<%#= f.label :password_confirmation, class: "form_label" %>
			<span class = "error_item"><%#= errors_for @admin, :password_confirmation, "Password confirmation" %></span>
			<%#= f.password_field :password_confirmation, autocomplete: "off" %>
		</div>

		<div class="actions">
			<%#= f.submit "Sign up",  class: "button tiny skeptics-btn-five" %>
		</div>
	<%# end %>
</div>
-->
<%= render 'jQueryRegForm'  %>
