<div class="message_wrapper">
	<h4 class = "disabled_admin_message">Admin Sign-up Disabled</h4> 
</div><!--message_wrapper-->
<div class ="message_wrapper">
	<div class="form_box form_box1">
		<div class="form_box form_box2">
		</div>
		<span ng-include="'/home/countdowntimer.html'"></span>
	</div>
</div><!--message_wrapper-->
<%= render 'newPartial' %>	


