<!--Markdown-->
<div ng-show="toggleMarkdownAttrs" class="markdown_header">
	Translated Markdown (abstract)
</div>
<div id = "abstract_markdown" class ="markdown_abstract">
	{{myabstract}}
</div>
<div ng-show="toggleMarkdownAttrs" class="markdown_header" >
	<div class ="markdown_text">Markdown basics
		(see<a href="http://daringfireball.net/projects/markdown/basics" target ="_blank">here</a>)
	</div>
	<span class ="indent">*italics* OR  _italics_</span>
	<span class ="indent">**bold** OR __bold__</span>
	<span class ="indent">***italics and bold*** OR  ___italics and bold___</span>
	<div class ="markdown_text indent">
		<span>Link: [Google](http://www.google.com/)</span>
	</div>
</div><!--markdown_header-->
