<div class="extra_images">
	<ul >
		<li >Some Extra images</li>
		<li >x1_roy_keane.jpg</li>
		<li >x2_rivelino.jpg</li>
		<li >x3_eusebio.jpg</li>
		<li >x4_maradona.jpg</li>
		<li >x5_phil_lynott.jpg</li>
	</ul>


</div>
