<p id="notice"><%= notice %></p>
<table>
	<thead>
		<tr>
			<th width="200"><%= @commodity.name %></th>
			<th></th>
			<th width="150"></th>
			<th width="150"></th>
		</tr>
	</thead>
	<tbody><h1>hello</h1> </tbody>
</table>
